.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

#header {
  background-color: rgba(var(--bs-tertiary-bg-rgb),var(--bs-bg-opacity)) !important;
}

#sidebar {
  position: fixed;
  width: 100;
}

.sidebar {
  width: 200px;
}

#content {
  margin-left: 200px;
  margin-right: 20px;
}

.card {

}

.product:hover .cardImage {
  animation: swing 2s ease-in-out infinite;
}

#headerImage {
  animation: spin 4s linear infinite;
}

#loadMore {
  visibility: visible;
}

#loadMore:hover > #loadMoreImage {
  animation: spin 1s linear infinite;
}

.badge:hover {
  animation: jump 1.5s ease-out infinite;
}

@keyframes spin {
  from {transform:rotate(360deg);}
  to {transform:rotate(0deg);}
}

@keyframes swing {
  0% {
    transform:rotate(45deg);
  }
  50% {
    transform:rotate(-45deg);
  }
  100% {
    transform:rotate(45deg);
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}